@charset "utf-8";
/* CSS Document */

.clien{
	
	width: 100%; position: relative;
	
	
}

.truoc{
	position: absolute;left: 0; top: 0;padding: 6px; background-color:rgba(148,147,147,0.50)
	
	
}

.sau{
	position: absolute;left: 50%; top: 0;padding: 6px; background-color:rgba(148,147,147,0.50)
	
	
}

